<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClassDB.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=localhost,1433;Initial Catalog=Northwind;Persist Security Info=True;User ID=sa;Password=shinji@Passw0rd"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>